body, button, select {
	color: #333;
	font-family: 'Ovo', serif;
}

.wrapper {
	padding: 20px 0 40px 0;
}

h1 {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #999;
}
/*
#chaos-wrapper{
	float:right;
	width:400px;
}*/

#chaos-pad {
	height:200px;
	width:200px;
	background-color:#0088cc;
}

#sequencer {
	margin-bottom:20px;
}

#sequencer .layers {
	width:100%; 
	padding:0; 
	margin:0;
}

#sequencer .layers .layer {
	width:100%;  
	border-bottom: 1px solid #999; 
	padding:0; 
	position:relative; 
	list-style:none; 
	height:40px;
}

#sequencer .layers .layer .trigger {
	position:absolute;
	height:80%; 
	width:4px; 
	background-color:#0088cc; 
	margin-top:10px;
}


#transport input{
	width:50px;
	text-align: center;
}

canvas {
	margin-left: 500px;
	border: 1px solid;
}


